*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header-container{
    display: flex;
    justify-content: space-between;
    
}
.header-right{
    display: flex;
    margin-right: 150px;
    gap: 20px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}
.header-left{
    color: white;
    margin-left: 180px;
    font-weight: 600;
    margin-top: 10px;
}


.top-container{
    height: 400px;
    background: #1f2937;
}
.content-container{
    color: white;
    display: flex;
    
}
.content-right{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 60px;
    border: 2px solid black;
    background-color: grey;
    height: 200px;
    width: 400px;
}
.content-left{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 60px;
    
}
button{
    width: 100px;
    height: 35px;
    background-color: #3882f6;
    padding: 6px;
    color: white;
    text-align: center; 
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid black;
}
.title{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    font-family: sans-serif;
    
}
.container-2{
    height: 400px;
    
}
.title-2{
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 800;
    margin-top: 30px;
}
.card-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 100px;
    margin-top: 30px;
}
.card{
    width: 140px;
    height: 140px;
    border: 2px solid blue;
    text-align: center;
    border-radius: 10px;

}
.text{
    text-align: center;
    margin-top: 140px;
}
.container-3{
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    
}
.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-left: 500px;
    
    
    
    
}

.quote{
    font-size: 36px;
    font-family: light italic;
}
.quote-author{
    margin-top: 300px;
    font-weight: bold;
    font-size: 18px;
}
.container-4{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.signup-container{
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    width: 1300px;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.signup-title{
    
    font-weight: bold;
    width: 900px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 28px;
    
}
.signup-text{
    display: flex;
    width: 900px;
    justify-content: space-between;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.signup-button{
    border: 2px solid white;
    width: 140px;
    height: 40px;
    position: relative;
    bottom: 20px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    
}