*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.header-right{
    display: flex;
    margin-right: 150px;
    gap: 20px;
    color: white;
    font-size: 14px;
}
.header-left{
    color: white;
    margin-left: 180px;
    font-weight: 600;
}


.top-container{
    height: 400px;
    background: #1f2937;
}